/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#b0e1fb
  red: #C15965
  purple:#4B4D88
*/

.box {
  background-color: #b0e1fb;
}

.shape {
  position: relative;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 70px solid #c15965;
  top: 190px;
  left: 140px;
}
.shape::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 70px solid #4b4d88;
  top: -90px;
  left: -60px;
}
.shape::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 200px;
  border-radius: 40px;
  border: solid #b0e1fb 10px;
  background-color: #4b4d88;
  top: -150px;
  left: -30px;
}
