/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  background: #4893d2
  shape:#063a86
*/

.box {
  background-color: #4893d2;
}

.shape {
  position: relative;
  width: 100px;
  height: 240px;
  background-color: #063a86;
  top: 30px;
  left: 150px;
}
.shape::after,
.shape::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #4893d2;
  rotate: 45deg;
  top: -35px;
  left: 15px;
}
.shape::before {
  top: 204px;
  left: 15px;
}
