/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #3F4869
  red:c
  yellow: #F4DA64
*/

.box {
  background-color: #3f4869;
}

.shape {
  position: relative;
  width: 175px;
  height: 175px;
  background-color: #f4da64;
  border-radius: 50%;
  top: 60px;
  left: 60px;
  box-shadow: #e25c57 100px 0;
}
.shape::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 90px;
  background-color: #e25c57;
  border-radius: 90% 0 0 0;
  left: 100px;
  top: 1px;
}
